body{
    background-color: rgb(167, 151, 14);
    color: darkgreen;
}
#heading2{
    color: red;
    text-decoration-style: wavy;
}
h1 {
    color: purple;
    text-decoration-style: dotted;
    text-decoration: underline;
    font-weight: bolder;
}
